'body':
  'ctrl-pageup': 'pane:show-previous-item'
  'ctrl-pagedown': 'pane:show-next-item'
  'ctrl-shift-n': 'fuzzy-finder:toggle-file-finder'
  'ctrl-shift-z': 'core:redo'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-d': 'editor:duplicate-lines'

'atom-text-editor:not([mini])':
  'ctrl-y': 'editor:delete-line'
  'ctrl-shift-up': 'editor:move-line-up'
  'ctrl-shift-down': 'editor:move-line-down'

'.tree-view':
  'F5': 'tree-view:duplicate'
